/*-------------------------------------------------*/
/*---------- HTML / BODY / HEADER / MAIN ----------*/
/*-------------------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html {
  display: flex;
  justify-content: center;
}
body {
  max-width: 100%;
}
header {
  width: 1440px;
  height: 667px;
}
main {
  width: 1440px;
  background-color: lightgray;
}

/*----------------------------*/
/*---------- HEADER ----------*/
/*----------------------------*/
/* IMAGE DU HEADER */
#main-background {
  z-index: -1;
  position: absolute;
}
/* LOGO "LES PETITS PLATS" */
#main-logo {
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 70px;
  padding-top: 50px;
  text-decoration: none;
}
#main-logo div {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white;
}
#main-logo img {
  height: 22px;
  width: 22px;
  margin-left: 5px;
}
/* TITRE */
#main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 890px;
  margin: 170px auto 30px auto;
  line-height: 66.24px;
  font-family: 'Anton', sans-serif;
  font-size: 44px;
  font-weight: 400;
  color: #FFD15B;
  text-align: center;
}
/* BARRE DE RECHERCHE */
#main-search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  width: 954px;
  height: 72px;
  border-radius: 11px;
  background-color: #FFFFFF;
}
#main-search-bar input {
  padding-left: 35px;
  border-radius: 11px;
  width: 100%;
  height: 72px;
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  outline: none
}
/* BOUTON LOUPE */
#button-loupe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  border-radius: 11px;
  background-color: #FFFFFF;
  margin-right: 4px;
  cursor: pointer;
}
#loupe {
  padding: 12px;
  background-color: #1B1B1B;
  border-radius: 10px;
}

/*--------------------------------------------*/
/*---------- MAIN : BOUTONS FILTRES ----------*/
/*--------------------------------------------*/
/* BOUTONS-MENUS POUR FILTRER */
#section-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0px 102px 0 102px;
  padding-top: 21px;
}
#all-buttons {
  display: flex;
}
.filter-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 190px;
  height: 56px;
  margin-right: 64px;
  border-radius: 11px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: #1B1B1B;
}
.filter-button i {
  width: 13px;
}
/* TOTAL DES RECETTES AFFICHEES */
#nb-recettes {
  margin-top: 17px;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 31.61px;
}

/*--------------------------------------------*/
/*---------- MAIN : FILTRES CHOISIS ----------*/
/*--------------------------------------------*/
#section-filters {
  display: flex;
  justify-content: space-between;
  margin: 0px 102px 0 102px;
  padding-top: 21px;
}
#filters-selected {
  display: flex;
}
.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 56px;
  margin-right: 64px;
  /* margin-bottom: 21px; */
  border-radius: 11px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: #1B1B1B;
  background-color: #FFD15B;
}
.filter i {
  width: 10px;
}

/*-------------------------------------*/
/*---------- MAIN : RECETTES ----------*/
/*-------------------------------------*/
#wrapper {
  margin: 40px 102px 0 102px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 66px 48px;
}
.card {
  width: 380px;
  height: 730px;
  background-color: #FFFFFF;
  border-radius: 21px;
}
/* ENTETE DE RECETTE */
.recipe-entete {
  display: flex;
  justify-content: flex-end;
  border-radius: 21px 21px 0 0;
}
.recipe-duree {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 21px 22px 0 0;
  width: 33px;
  height: 16px;
  padding: 5px 15px 5px 15px;
  border-radius: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: #FFD15B;
  color: #1B1B1B;
}
.recipe-entete img {
  width: 100%;
  height: 250px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}
/* TITRE DE RECETTE */
.recipe-complete {
  padding: 32px 25px 0 25px;
}
.recipe-complete h3 {
  height: 27px;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;
}
/* RECETTE */
.recipe-recette {
  width: 330px;
}
.recipe-recette h4 {
  color: #7A7A7A;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.recipe-recette p {
  color: #1B1B1B;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
}
/* INGREDIENTS */
.recipe-ingredients {
  margin-top: 32px;
  width: 330px;
}
.recipe-ingredients h4 {
  color: #7A7A7A;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.liste-ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px 30px;
}
.ingredient-nom {
  color: #1B1B1B;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12px;
}
.ingredient-quantite {
  color: #7A7A7A;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
}