/*-----------------------------------------------------------------------------*/
/*-------------------------HTML / BODY / HEADER / MAIN-------------------------*/
/*-----------------------------------------------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html {
  display: flex;
  justify-content: center;
}
body {
  max-width: 100%;
}
header {
  width: 1440px;
  height: 667px;
}
main {
  width: 1440px;
  background-color: lightgray;
}

/*--------------------------------------------------------*/
/*-------------------------HEADER-------------------------*/
/*--------------------------------------------------------*/
/* IMAGE DU HEADER */
#main-background {
  z-index: -1;
  position: absolute;
}
/* LOGO "LES PETITS PLATS" */
#main-logo {
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 70px;
  padding-top: 50px;
  text-decoration: none;
}
#main-logo div {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white;
}
#main-logo img {
  height: 22px;
  width: 22px;
  margin-left: 5px;
}
/* TITRE */
#main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 890px;
  margin: 170px auto 30px auto;
  line-height: 66.24px;
  font-family: 'Anton', sans-serif;
  font-size: 44px;
  font-weight: 400;
  color: #FFD15B;
  text-align: center;
}
/* BARRE DE RECHERCHE */
#main-search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  width: 954px;
  height: 72px;
  border-radius: 11px;
  background-color: #FFFFFF;
}
#main-search-bar input {
  padding-left: 35px;
  border-radius: 11px;
  width: 100%;
  height: 72px;
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  outline: none
}
/* BOUTON EFFACER */
#button-erase {
  display: none;
  cursor: pointer;
  background-color: #FFFFFF;
  margin: 5px 20px 0 0;
}
/* BOUTON LOUPE */
#button-loupe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  border-radius: 11px;
  background-color: #FFFFFF;
  margin-right: 4px;
  cursor: pointer;
}
#loupe {
  background-color: #1B1B1B;
  border-radius: 10px;
}
/* EDIT LOUPE SVG EN :HOVER */
#button-loupe:hover #loupe {
  background-color: #FFD15B;
}
#button-loupe:hover circle {
  stroke: black;
}
#button-loupe:hover line {
  stroke: black;
}

/*------------------------------------------------------------------------*/
/*-------------------------MAIN : BOUTONS FILTRES-------------------------*/
/*------------------------------------------------------------------------*/
/* BOUTONS-MENUS POUR FILTRER */
#section-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0px 102px 0 102px;
  padding-top: 21px;
  animation-name: menu1;
}
#all-buttons {
  display: flex;
}
/* BOUTON COMPLET */
.filter-button {
  z-index: 1;
  display: grid;
  position: relative;
  /* display: flex;
  flex-direction: column; */
  /* padding-left: 16px; */
  width: 179px;
  max-height: 56px;
  margin-right: 64px;
  border-radius: 11px;
  /* border-radius: 5px 5px 0 0; */
  cursor: pointer;
  background-color: #FFFFFF;
}
/* TITRE DU BOUTON */
.filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
  width: 100%;
  height: 56px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.86px;
  color: #1B1B1B;
}
.filter-title i {
  width: 13px;
  margin-right: 32px;
  animation-name: rotate1;
}
.menu-dropdown {
  height: 280px;
  max-width: 179px;
  background-color: #FFFFFF;
  visibility: hidden;
  display: flex;
  opacity: 0;
  flex-direction: column;
  transform: translateY(-45%);
  border-radius: 0 0 11px 11px;
}
/* SEARCH BAR DU BOUTON */
.filter-search-bar {
  visibility: hidden;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  margin: 0 10px 0 10px;
  border: #7A7A7A 0.5px solid;
  border-radius: 2px;
  animation-name: menu2;
  margin-top: 10px;
  margin-bottom: 15px;
}
.filter-search-bar input {
  display: flex;
  width: 100%;
  outline: none;
  margin-left: 10px;
}
.search-filter-button {
  display: flex;
  background-color: #FFFFFF;
  margin-right: 11.5px;
  cursor: pointer;
}
/* ANIMATIONS DES MENUS FILTRES */
.filter-button:hover .menu-dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(-5%);
  transition: .33s ease-in-out;
}
.filter-button:hover .filter-search-bar {
  visibility: visible;
  opacity: 1;
  transition: .5s ease-in;
}
.filter-button:hover .logo-menu-filter {
  animation: rotate .5s normal forwards; 
}
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(180deg);
  }
}
/* TOTAL DES RECETTES AFFICHEES */
#nb-recettes {
  margin-top: 17px;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 31.61px;
}
/* ITEMS CHOISIS DANS LE MENU DEROULANT DES FILTRES */
#selected-ingredients,
#selected-appareils,
#selected-ustensils {
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
}
.item-selected-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.item-selected {
  display: flex;
  background-color: #FFD15B;
  padding: 10px 10px 10px 20px;
  width: 100%;
}
.delete-filter {
  align-items: center;
  background-color: #FFD15B;
  height: 100%;
  padding-right: 15px;
}
.delete-filter svg {
  display: none;
  align-items: center;
}
/* HOVERING SUR ITEM SELECTED */
.delete-filter:hover {
  cursor: pointer;
}
.item-selected-style:hover .item-selected {
  font-weight: 700;
}
.item-selected-style:hover svg {
  display: flex;
  animation: fade .75s ease-in forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ITEMS DES BOUTONS FILTRES (INGREDIENTS / APPAREILS / USTENSILES) */
#all-items-ingredients,
#all-items-appareils,
#all-items-ustensils {
  display: flex;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
}
.item-filtre {
  margin: 10px 0 0 10px;
}

/*------------------------------------------------------------------------*/
/*-------------------------MAIN : FILTRES CHOISIS-------------------------*/
/*------------------------------------------------------------------------*/
#section-filters {
  display: flex;
  justify-content: space-between;
  margin: 0px 102px 0 102px;
  padding-top: 21px;
}
#filters-selected {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 56px;
  margin-right: 64px;
  margin-bottom: 21px;
  border-radius: 11px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: #1B1B1B;
  background-color: #FFD15B;
}
#delete-filter path{
  stroke: #000000;
}

/*-----------------------------------------------------------------*/
/*-------------------------MAIN : RECETTES-------------------------*/
/*-----------------------------------------------------------------*/
#wrapper {
  margin: 19px 102px 0 102px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 66px 48px;
}
.card {
  width: 380px;
  height: 730px;
  background-color: #FFFFFF;
  border-radius: 21px;
}
/* ENTETE DE RECETTE */
.recipe-entete {
  display: flex;
  justify-content: flex-end;
  border-radius: 21px 21px 0 0;
}
.recipe-duree {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 21px 22px 0 0;
  width: 33px;
  height: 16px;
  padding: 5px 15px 5px 15px;
  border-radius: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: #FFD15B;
  color: #1B1B1B;
}
.recipe-entete img {
  width: 100%;
  height: 250px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}
/* TITRE DE RECETTE */
.recipe-complete {
  padding: 32px 25px 0 25px;
}
.recipe-complete h3 {
  height: 27px;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;
}
/* RECETTE */
.recipe-recette {
  width: 330px;
}
.recipe-recette h4 {
  color: #7A7A7A;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.recipe-recette p {
  color: #1B1B1B;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  max-height: 115px;
  overflow: auto;
}
/* INGREDIENTS */
.recipe-ingredients {
  margin-top: 32px;
  width: 330px;
}
.recipe-ingredients h4 {
  color: #7A7A7A;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.liste-ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px 30px;
}
.ingredient-nom {
  color: #1B1B1B;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12px;
}
.ingredient-quantite {
  color: #7A7A7A;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
}